<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/navbar-static.css}" rel="stylesheet">
    <title th:text="${title}">Hello, Springboot!</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:fragment="menu(menu)">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Spring Web Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link " th:classappend="${menu} == 'home' ? 'active'"
                       aria-current="page" th:href="@{/}">홈
                        <span class="sr-only" th:if="${menu} == 'home'"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:classappend="${menu} == 'post' ? 'active'"
                       aria-current="page" th:href="@{/post/list}">게시판
                        <span class="sr-only" th:if="${menu} == 'post'"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:classappend="${menu} == 'mypage' ? 'active'"
                       aria-current="page" th:href="@{/member}">마이페이지
                        <span class="sr-only" th:if="${menu} == 'mypage'"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:insert="fragments/footer.html" id="footer"></div>
<div th:replace="fragments/footer.html"></div>
</body>
</html>